server:
  port: ${SERVER_DEV_BACK_PORT}
  address: 0.0.0.0

spring:
  application:
    name: money-legal
  
  datasource:
    url: jdbc:mysql://${SERVER_DEV_DATABASE}:${SERVER_DEV_DATABASE_PORT}/${SERVER_DEV_DATABASE_HOSTNAME}?useUnicode=true&characterEncoding=UTF-8&serverTimezone=UTC&createDatabaseIfNotExist=true
    username: ${SERVER_DEV_DATABASE_USERNAME}
    password: ${SERVER_DEV_DATABASE_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver
  
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        format_sql: true
        jdbc:
          time_zone: UTC
        globally_quoted_identifiers: false
  
  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration

  # Configuração de Email
  mail:
    host: smtp.gmail.com
    port: 587
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true
          connectiontimeout: 5000
          timeout: 5000
          writetimeout: 5000

# Twilio SendGrid Configuration
sendgrid:
  api-key: ${SENDGRID_API_KEY:${SENDGRID_CONFIG_API_KEY}}
  from-email: ${SENDGRID_FROM_EMAIL:${SENDGRID_CONFIG_FROM_EMAIL}}
  from-name: ${SENDGRID_FROM_NAME:${SENDGRID_CONFIG_FROM_NAME}}

jwt:
  secret: :${JWT_CONGIG_SECRET}}
  expiration: 900000

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html

logging:
  level:
    com.moneylegal: DEBUG
    org.springframework.security: DEBUG